.infobase__search {
    margin: 24px 0
}


.infobase__search-input {
    width: 100%;
    padding: 8px 16px;
    border: solid 1px #eee;
    font-size: 26px;
}


.serial {
    margin-top: 36px;
    margin-bottom: 72px;
    background-color: #f9f9f9;
    border: dashed 1px #d0d0d0;
}

.serial__header {
    background-color: #f5f5f5;
    margin-bottom: 32px;
    padding: 16px;
}

.serial__body {
    padding: 16px;
}

.serial__title {
    font-size: 26px;
    font-weight: 400 !important;
    line-height: 1.4;
}

.serial__subtitle {
    font-size: 23px;
    line-height: 1.4;
}

.serial__title2 {
    margin-bottom: 16px;
    font-size: 20px;
}

.serial__title2-text {
    display: inline-block;
}

.serial__files-table {
    margin-bottom: 56px;
}

.serial__files-table td {
    padding: 8px;
}

input[type="text"]::placeholder,
input[type="search"]::placeholder {
    color: #9c9c9c;
}

input[type="text"]:focus,
input[type="search"]:focus {
    background-color: #ffffe2 !important;
    border-color: #d6d698 !important;
}

input[type="text"]:read-only,
input[type="search"]:read-only,
input[type="text"]:read-only:focus,
input[type="search"]:read-only:focus {
    background-color: #eee !important;
    border-color: #d2d2d2 !important;
}

.serial__btn {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 7px;
    display: inline-block;
    transition-duration: .2s;
    text-decoration: none;
    border: solid 1px transparent;
    text-align: center;
    display: inline-block;
    width: auto;
}


.serial__btn:hover {
    background-color: #618e00;
    color: #fff;
    border-color: #618e00;
}


.serial__btn_add {
    color: #78af01;
    font-size: 17px;
    margin-left: 5px;
    font-weight: 400;
}


.serial__btn_add:hover {
    background-color: #78af01;
    color: #fff;
}


.file-row {
    position: relative;
    padding: 16px;
    background-color: #fff;
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
    margin-top: -1px;
    width: 100%;
    box-sizing: border-box;
}


.file-row.deleted {
    background-color: #fff;
    position: absolute;
    transition: all .5s ease-in 0s;
    transform: rotate(90deg) translateX(1000px);
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

.file-row.loading {
    opacity: .3;
    pointer-events: none;
    z-index: 9999;
}

.file-row.loading::after {
    content: url(/img/Rolling-1s-117px.gif);
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -60px;
}

.file-col {
    padding-right: 20px;
    position: relative;
}


.file-edit-row {
    min-width: 700px;
    position: relative;
    padding: 16px;
}


.file-name-input, .file-descr-input {
    height: 80px;
    padding: 4px 8px !important;
    width: 100%;
}

.file-descr-input {
    height: 200px;
}


.file-info-item {
    display: block;
    line-height: 1.4;
    margin-right: 16px;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-info-item_filename {
    max-width: 450px;
}

.file-info-tip {
    display: none;
    background-color: #fff;
    position: absolute;
    width: 400px;
    word-break: break-all;
    white-space: normal;
    padding: 8px;
    z-index: 9999;
    box-shadow: 0 0 5px 0 #00000069;
    border-radius: 5px;
}

.file-info-val {
    word-break: break-all;
    user-select: all;
}

.file-upload-row {
    display: flex;
    justify-content: center;
}

.file-upload-row * {
    box-sizing: border-box;
}

.serial__btn_download {
    color: #78af01;
    border: solid 1px #78af01;
}

.serial__btn_models {
    background-color: #ffffff;
    color: #78af01;
    border: solid 1px #78af01;
    display: inline-block;
}

.serial__btn_upload {
    width: 100%;
}

.file-row_empty .serial__btn_models {
    display: none;
}

.serial__btn_save {
    background-color: #78af01;
    color: #ffffff;
    border: solid 1px #78af01;
    width: 100%;
}

.serial__btn_edit {
    background-color: #78af01;
    color: #fff; 
    border-color: #78af01;
}

.serial__btn_del {
    background-color: crimson;
    color: #fff;
    border-color: crimson;
}


.file-row_empty .file-info-row {
    display: none;
}


.highlight {
    background-color: #ffffbb;
}


.serial__descr-text {
    border: solid 1px #eee;
    background-color: #f9f9f9;
    padding: 15px 20px;
    box-sizing: border-box;
}


.serial__descr-link {
    text-align: center;
    color: #78af01;
    cursor: pointer;
}


.serial__descr-link::after {
    content: '▼';
}


.serial__descr-link.active::after {
    content: '▲';
}


.serial__descr {
    padding-top: 16px;
}


.serial__btns-panel {
    position: absolute;
    top: 16px;
    right: 16px;
}


.serial__btns-panel-row {
    margin-bottom: 18px;
    text-align: right;
}