@charset "UTF-8";

.icon-user:before { content: '\a800'; } /* 'ꠀ' */
.icon-login:before { content: '\a801'; } /* 'ꠁ' */
.icon-logout:before { content: '\a802'; } /* 'ꠂ' */
.icon-briefcase:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-minus:before { content: '\e807'; } /* '' */
.icon-info-circled:before { content: '\e808'; } /* '' */
.icon-help-circled:before { content: '\e809'; } /* '' */
.icon-forward:before { content: '\e80a'; } /* '' */
.icon-pencil:before { content: '\e80b'; } /* '' */
.icon-comment:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-wrench:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e810'; } /* '' */
.icon-block:before { content: '\e811'; } /* '' */
.icon-down-open:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e813'; } /* '' */
.icon-right-open:before { content: '\e814'; } /* '' */
.icon-up-open:before { content: '\e815'; } /* '' */
.icon-ccw:before { content: '\e816'; } /* '' */
.icon-globe:before { content: '\e817'; } /* '' */
.icon-floppy:before { content: '\e818'; } /* '' */
.icon-truck:before { content: '\e819'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-sticky-note:before { content: '\f249'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-black-tie:before { content: '\f27e'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-star:before { content: '👤'; } /* '\1f464' */
.icon-mail-alt:before { content: '򡈴'; } /* '\a1234' */
.icon-envelope-open:before { content: '򱈴'; } /* '\b1234' */
