[data-resizer] {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2px;
    min-width: 5%;
    cursor: col-resize;
    font-size: .6em;
    font-weight: 300;
    color: #8b8b8b;
    opacity: 0;
}