.check-serial {
    background-color: #77ad07;
    padding: 8px;
    color: #fff;
    border-radius: 7px;
    min-width: 343px;
    position: relative;
}

.check-serial__label {
    display: block;
    font-size: 19px;
    margin-bottom: 4px;
}

.check-serial__input {
    height: auto !important;
    padding: 6px !important;
    width: 100% !important;
    border: none !important;
    border-radius: 3px !important;
    font-size: 17px;
}

.check-serial-popup {
    display: none;
    position: absolute;
    left: 0;
    background-color: #fff;
    z-index: 1;
    border-radius: 7px;
    padding: 1em;
    box-shadow: 0 2px 10px 0 #000;
    color: #000;
    font-size: .9em;
    width: 700px;
    max-height: 500px;
    overflow-y: auto;
}

.check-serial-popup.open {
    display: block;
}

.check-serial-popup table {
    width: 100%;
}

.check-serial-popup__head {
    background-color: #eee;
    font-weight: 600;
}

.check-serial-popup__head a {
    color: #000 !important;
}

.check-serial-popup table td {
    padding: 6px 8px 4px 4px;
    border: solid 1px #d3d3d3;
    line-height: 1.4;
    vertical-align: top;
    width: 33.33%;
}

.check-serial-popup__name {
    color: #838383;
    display: block;
    font-size: .8em;
}

.check-serial-popup__value {
    color: #000;
}

.check-serial-popup__value_id {
    margin-right: 24px;
}

.check-serial-popup__value_serial {
    font-weight: 400;
}

.check-serial-popup__highlight {
    background-color: #ffffc7;
}